@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
body {
  background: #f9f9f9;
  font-family: 'Open Sans', sans-serif;
  color: #777;
  font-size: 16px;
  margin: 0;
  padding: 1em 0;
}

h1.title {
}

.container {
  width: 90%;
  max-width: none !important;
}

section.default {
  padding-bottom: 2em;
}

header {
  padding-bottom: 2em;
}

nav ul.main li {
  display: inline;
}

.intro {
}
a {
  color: #999;
  text-decoration: none;
}

a:hover {
  color: #777;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: #222;
}
